html {
    background-color: #eee;
    font-size: 16px;
}
body {
    background-color:#ffffcc;
    font-family: Roboto, Arial, Helvetica, sans-serif;
    margin: 0;
}
@media (min-width: 600px) {
    body {
        margin: auto;
        max-width: 60em;
    }
}
p {
    margin-left: 1.0rem;
    margin-right: 1.0rem;
    text-align: justify;
}
ul {
    margin-top: 0.75rem;
}
li {
    margin-right: 2.0rem;
    text-align: justify;
}
h3 {
    font-size: 1.25rem;
    margin-left: 1.0rem;
    margin-right: 1.0rem;
    margin-top: 1.3rem;
    margin-bottom: 0.75rem;
}
h4 {
    font-size: 1.125rem;
    margin-left: 1.0rem;
    margin-right: 1.0rem;
    margin-top: 1.3rem;
    margin-bottom: 0.75rem;
}

/* Header Panel */
#header {
    background-image: url("Ingleborough_banner.jpg");
    background-repeat: no-repeat;
    background-position: center;
    padding: 10px;
    height: 228px;
    color: whitesmoke;
}

#agi_logo {
    float:right;
    width:70px;
    height:140px;
    border-width: 0;
}

#LinkedIn_profile {
    width:160px;
    height:25px;
    border-width: 0;

}
#hdr_text {
    position: relative;
    top: 24px;
}

#hdr_text p {
    text-align: center;
    font-size: 1.5rem;
    text-shadow: 2px 2px #000000;
    margin-bottom: 5px;
    margin-top: 0;
}

.profile-link {
    position: absolute;
    top: 212px;
    margin: 0;
}
.profile-link a {
    padding-top: 0.4em;
    padding-bottom: 0.3em;
    padding-left: 1.0em;
    padding-right: 1.0em;
    border-radius: 0.8em;
    font-size: 0.75em;
    box-shadow: 0px 0px 10px #000000;
    color: black;
    background-color: #ccc;
    border: 0px solid black;
    text-decoration: none;
}

.css-validator {
    margin-bottom: 0;
    margin-left: 20px;
    height: 50px;
}
.css-validator img {
    border: 0;
    width: 88px;
    height: 31px;
}
