body {
    background-color:#ffffcc;
}

/* Header Panel */
#header {
    background-image: url("Ingleborough_banner.jpg");
    background-repeat: no-repeat;
    background-position: center;
    padding: 20px 15px 10px 10px;
    height: 218px;
    color: whitesmoke;
}

#agi_logo {
    float:right;
    width:70px;
    height:140px;
    border-width: 0;
}

#LinkedIn_profile {
    float:left;
    width:160px;
    height:25px;
    border-width: 0;

}

#hdr_text {
    padding-top: 60px;
    padding-bottom: 30px;
}

#hdr_text p {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    text-shadow: 2px 2px #000000;
    margin-bottom: 5px;
    margin-top: 0;
}

.profile-link a {
    position: absolute;
    left: 20px;
    top: 220px;
    text-align: center;
    padding: 0.3em;
    padding-left: 1.0em;
    padding-right: 1.0em;
    border-radius: 0.8em;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.75em;
    box-shadow: 0px 0px 10px #000000;
    color: black;
    background-color: #ccc;
    border: 0px solid black; 
    text-decoration: none;
}
